<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <style type="text/css">
    body {
      background-color: gold;
      color: darkcyan;
    }

    h1 {
      font-weight: bold;
      text-align: center;
      font-size: 100px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    a:visited {
      color: blue;
    }

    a:hover {
      color: black;
    }
  </style>
  <h1>
    <%= title %>
  </h1>
  <a href="/skills">Welcome-To-Developer-Skills</a>
</body>

</html>